<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>My App</title>
</head>
<body>
<h1><%= title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque necessitatibus, recusandae cumque maxime pariatur, rem a! Optio architecto, fugiat suscipit natus iusto fuga, beatae delectus est similique odio, aperiam repellendus!</p>

<% for(var i=0; i<users.length; i++) { %>
  <li><%= users[i] %></li>
<% } %>

</body>
</html>
